.searchBar {
  width: 100%;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}
.searchBar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}
.container {
  width: 100%;
  min-height: 100vh;
  padding: 5%;
  background-image: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9)),
    url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
::placeholder {
  color: #cac7ff;
}
.searchBar button img {
  width: 1px;
}
.searchBar button {
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  background: #58629b;
  cursor: pointer;
  background-image: linear-gradient(
      rgba(79, 83, 107, 0.9),
      rgba(124, 125, 131, 0.9)
    ),
    url("../img/search.png");
  background-size: 85%;
  background-position: center;
}
